.container
  .row
    .col-xs-12
      %ul
        %li
          = image_url "Lalo_appstore.jpg"
        %li
          = image_url "Lalo_applefree.jpg"
        %li
          = image_url "Lalo_ambassadorbg.jpg"
        %li
          = image_url "Lalo_gradient_2.jpg"
        %li
          = image_url "Lalo_googlefree.jpg"
        %li
          = image_url "Lalo_googleplay.jpg"
        %li
          = image_url "Lalo_host.jpg"
        %li
          = image_url "Lalo_iphonebottom.jpg"
        %li
          = image_url "Lalo_iphonemiddle.jpg"
        %li
          = image_url "Lalo_iphonemiddle2.jpg"
        %li
          = image_url "Lalo_iphonetop.jpg"
        %li
          = image_url "Lalo_learnmore.jpg"
        %li
          = image_url "Lalo_logo.jpg"
